<div id="<%= dom_id message %>" class="scaffold_record">
  <p>
    <strong>Body:</strong>
    <%= simple_format(message.body) %>
  </p>

  <p>
    <strong>Inbox:</strong>
    <%= link_to message.inbox.name, message.inbox %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user.email %>
  </p>

  <p>
    <%= link_to "Show this message", message %>
  </p>
</div>
