<%= form_with(model: [@inbox, message]) do |form| %>
  <%= render 'shared/errors', form: form %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
