<div id="<%= dom_id message %>"
     class="scaffold_record"
     style="background-color:<%= status_color(message.status) %>;">

  <%= simple_format(message.body) %>

  <b>
    <%= message.status %>
    <% Message.statuses.keys.each do |status| %>
      <%= button_to status.capitalize,
                    change_status_inbox_message_path(@inbox, message, status: status),
                    method: :patch %>
    <% end %>
  </b>

  <hr>

  <%= button_to [:upvote, @inbox, message], method: :patch do %>
    <% if current_user.voted_up_on? message, vote_scope: 'like' %>
      UN-vote
    <% else %>
      UP-vote
    <% end %>
  <% end %>
  <%= message.cached_votes_total %>
  <%= message.cached_votes_score %>
  <%= message.cached_votes_up %>
  <%= message.cached_votes_down %>
  <%= message.cached_weighted_score %>
  <%= message.cached_weighted_total %>
  <%= message.cached_weighted_average %>
  <br>
  <i>
    by
    <%= message.user.email %>
    on
    <%= message.created_at.strftime('%d/%b/%Y, %H:%M') %>
  </i>

  <%= button_to "Destroy", inbox_message_path(@inbox, message), method: :delete %>
</div>
