<div id="<%= dom_id message %>"
     class="scaffold_record"
     style="background-color:<%= status_color(message.status) %>;">

  <%= simple_format(message.body) %>

  <b>
    <%= message.status %>
    <% Message.statuses.keys.each do |status| %>
      <%= button_to status.capitalize,
                    change_status_inbox_message_path(@inbox, message, status: status),
                    method: :patch %>
    <% end %>
  </b>

  <hr>
  <%= button_to [:vote, @inbox, message], params: { type: :upvote }, method: :patch do %>
    <%= upvote_label(message, current_user) %>
  <% end %>
  <%= button_to [:vote, @inbox, message], params: { type: :downvote }, method: :patch do %>
    <%= downvote_label(message, current_user) %>
  <% end %>
  <%= message.cached_scoped_like_votes_total %>
  <%= message.cached_scoped_like_votes_score %>
  <%= message.cached_weighted_like_score %>
  <%= message.cached_weighted_like_total %>
  <%= message.cached_weighted_like_average %>
  <br>
  <i>
    by
    <%= username(message.user) %>
    on
    <%= message.created_at.strftime('%d/%b/%Y, %H:%M') %>
  </i>

  <%= button_to "Destroy", inbox_message_path(@inbox, message), method: :delete %>
</div>
