<center>
  <h1>
    <%= link_to_unless_current Rails.application.class.module_parent.name, root_path %>
  </h1>
  <%= link_to_unless_current 'Inboxes', inboxes_path %>
  <%= link_to_unless_current 'New inbox', new_inbox_path %>
  <% if signed_in? %>
    <%= image_tag current_user.image, size: '30x30', alt: "#{current_user.email}" if current_user.image? %>
    <%= link_to username(current_user), edit_user_registration_path %>
    <%= button_to "Log out",
                  destroy_user_session_path,
                  method: :delete,
                  data: { turbo: "false" } %>
  <% else %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
  <% end %>
</center>
<hr>
