<%= form_with(model: inbox) do |form| %>
  <%= render 'shared/errors', form: form %>

  <div class="field">
    <%= form.label :name %>
    <%= form.color_field :theme_color %>

    <%= form.text_field :name,
                        autocomplete: 'off',
                        # style: 'width:100%;',
                        style: 'width:100%; padding:5px 10px;',
                        maxlength: Inbox::MAX_NAME %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
