<div id="<%= dom_id inbox %>" 
     class="scaffold_record"
     style="background-color:<%= inbox.theme_color %>;">

  <h3>
    <%= link_to inbox.name, inbox %>
  </h3>

  <%= link_to "Edit", edit_inbox_path(inbox) if policy(inbox).edit? %>
  <%= button_to "Destroy", inbox_path(inbox), method: :delete if policy(inbox).destroy? %>

  Messages:
  <%= inbox.messages_count %>
  <br>

  <i>
    by
    <%= inbox.user.email %>
    on
    <%= inbox.created_at.strftime('%d/%b/%Y') %>
  </i>
</div>
