<div id="<%= dom_id inbox %>" class="scaffold_record">
  <h3>
    <%= link_to inbox.name, inbox %>
  </h3>

  <%= link_to "Edit this inbox", edit_inbox_path(inbox) %>
  <%= button_to "Destroy this inbox", inbox_path(inbox), method: :delete %>

  Messages:
  <%= inbox.messages_count %>
  <br>

  <i>
    by
    <%= inbox.user.email %>
    on
    <%= inbox.created_at.strftime('%d/%b/%Y') %>
  </i>
</div>
