<h1>
  Inboxes:
  <%= @inboxes.count %>
</h1>

<%= search_form_for @q, html: { autocomplete: "off"}, data: {turbo_frame: "search"} do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.submit %>
<% end %>

<%= Time.zone.now %>
<%= request.path %>

<%= turbo_frame_tag 'search' do %>

<%= sort_link(@q, :name, default_order: :desc) %>
<%= sort_link(@q, :created_at, default_order: :desc) %>
<%= sort_link(@q, :messages_count, default_order: :desc) %>

<br>
<%= Time.zone.now %>
<%= request.path %>
<%= link_to "Clear search", request.path if request.query_parameters.any? %>

<div id="inboxes">
  <%= render @inboxes %>
</div>

<% end %>