<%= render @inbox %>

<h1>
  Messages:
  <span id="message_counter">
    <%= @inbox.messages_count %>
  </span>
</h1>

<div id="new_message">
  <%= render 'inboxes/messages/form', message: Message.new %>
</div>

<%= Time.zone.now %>
<div id="message_list">
  <%= render partial: 'inboxes/messages/message', collection: @inbox.messages %>
</div>
